<div id="gallery">
    <div id="flex-container" class="flex-4 flex-container">

        {{#each model as |gallery-item|}}
            {{ gallery-item gallery-item=gallery-item }}
        {{/each}}

        {{yield}}
    </div>
</div>