
<div class="flex-container {{zoomClass}}">

    {{#each galleryItemsFinal as |gallery-item|}}
        {{ gallery-item 
            gallery-item=gallery-item
            galleryItemClick=(action "galleryItemClick")
            galleryItemDoubleClick=(action "galleryItemDoubleClick")
        }}
    {{/each}}

</div>

<div id="photoswipe-container" class='closed'>

    {{ photoswipe-container

    }}
    
</div>

{{yield}}
