
<div class="flex-4 flex-container">

    {{#each sortedAndFilteredGalleryItems as |gallery-item|}}
        {{ gallery-item 
            gallery-item=gallery-item
        }}
    {{/each}}

    {{yield}}
</div>
