<div id="gallery">
    <div id="flex-container" class="flex-4 flex-container">

        {{#each model as |item|}}
            <h1>Hello, {{ item.name }}!</h1>
        {{/each}}

        {{yield}}
    </div>
</div>