// Gallery Controls

// Variables
$gallery-controls-height: 50px;

.gallery-controls {

    // Layout
    .nav-wrapper {
        display: flex;

        form {
            flex: 1 auto; 

            .label-icon i {
                margin-top: -10px;
            } 
        }
    }

    // Navvar Height
    nav {
        height: $gallery-controls-height;
        line-height: $gallery-controls-height;
    }

    nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
        height: $gallery-controls-height;
        line-height: $gallery-controls-height;
    }

    nav .button-collapse i {
        height: $gallery-controls-height;
        line-height: $gallery-controls-height;
    }

    nav .brand-logo { 
        font-size: 1.6rem; 
    }

    @media only screen and (min-width: 601px){
        nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
            height: $gallery-controls-height;
            line-height: $gallery-controls-height;
        }
    }

    // Search Field
    .input-field input[type=search]:focus {
        @extend .grey, .darken-4, .white-text;
    }

    .input-field input[type=search]:focus + label i, .input-field input[type=search]:focus ~ .mdi-navigation-close, .input-field input[type=search]:focus ~ .material-icons {
        @extend .white-text;
    }

    // Navbar Buttons
    nav ul a:hover {
        @extend .teal;
    }

    // Dropdown Content
    .dropdown-content li > a, .dropdown-content li > span {
        @extend .grey, .darken-3, .white-text;
    }
}

