<main>
        
    <div class="row">

        <div class="col xl9 l8 m7 s12">


{{!--       <input id="search-field" /> --}}

           
            {{ gallery-view 
                model=model
            }}


            <div id="photoswipe-container" class='closed'>
                
            </div>

        </div>

        <div class="col xl3 l4 m5 hide-on-small-only metadata">
            
        </div>

    </div>

</main>

{{outlet}}