
<div id="gallery" class="col xl9 l8 m7 s12">

	{{ gallery-controls 
		search=search
        sortableAttributes=sortableAttributes
        sortGalleryItemsByAttribute=(action "sortGalleryItemsByAttribute")
        flipSortDirection=(action "flipSortDirection")
        currentSortAttribute=sortby
	}}

    {{ gallery-view
    	sortedAndFilteredGalleryItems=sortedAndFilteredGalleryItems
    }}

    <div id="photoswipe-container" class='closed'>
        
    </div>

</div>

<div class="col xl3 l4 m5 hide-on-small-only metadata">
    
</div>

{{outlet}}